/* Asta Sans */
@font-face {
  font-family: "Asta Sans Variable";
  src: url("https://cdn.jsdelivr.net/gh/TheTechclip/UIKit-Fonts@HEAD/AstaSans/AstaSans[wght].woff2") format("woff2-variations");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
