/* We use min-icon from poposnail61 (https://github.com/poposnail61/min-icon) */

/* Min Icon VF */
@font-face {
  font-family: "Min Icon VF";
  src: url("https://cdn.jsdelivr.net/gh/TheTechclip/UIKit-Fonts@HEAD/MinIcon/MinIconVF.woff2") format("woff2-variations");
  font-weight: normal;
  font-style: normal;
}

/* Min Icon Brand */
@font-face {
  font-family: "Min Icon Brand";
  src: url("https://cdn.jsdelivr.net/gh/TheTechclip/UIKit-Fonts@HEAD/MinIcon/MinIconBrand-Brand.woff2") format("woff2-variations");
  font-weight: normal;
  font-style: normal;
}

i,
i::before,
i::after,
blockquote::before {
  line-height: 1;
  font-style: normal;
  font-family: var(--font-icon);
  font-variation-settings:
    "rond" 2,
    "edpt" 1;
  -webkit-font-smoothing: antialiased;
}

iFill::before {
  font-feature-settings: "ss09" on;
}


/* Icon Weight */
i.iThin {
  --uikit-icon-font-weight: 100;
}

i.iExtraLight {
  --uikit-icon-font-weight: 200;
}

i.iLight {
  --uikit-icon-font-weight: 300;
}

i.iRegular {
  --uikit-icon-font-weight: 400;
}

i.iMedium {
  --uikit-icon-font-weight: 500;
}

i.iSemiBold {
  --uikit-icon-font-weight: 600;
}

i.iBold {
  --uikit-icon-font-weight: 700;
}

i.iExtraBold {
  --uikit-icon-font-weight: 800;
}

i.iBlack {
  --uikit-icon-font-weight: 900;
}

/* Icon */

$icons: (
  "Circle": "\E000",
  "Square": "\E001",
  "Close": "\E020",
  "CloseCircle": "\E021",
  "CloseSquare": "\E022",
  "Check": "\E024",
  "CheckCircle": "\E025",
  "CheckSquare": "\E026",
  "Add": "\E028",
  "AddCircle": "\E029",
  "AddSquare": "\E02A",
  "Remove": "\E02C",
  "RemoveCircle": "\E02D",
  "RemoveSquare": "\E02E",
  "Info": "\E030",
  "InfoCircle": "\E031",
  "InfoSquare": "\E032",
  "Warning": "\E034",
  "WarningCircle": "\E035",
  "WarningSquare": "\E036",
  "Question": "\E038",
  "QuestionCircle": "\E039",
  "QuestionSquare": "\E03A",
  "Menu": "\E03C",
  "MenuCircle": "\E03D",
  "MenuSquare": "\E03E",
  "MenuLeft": "\E040",
  "MenuCenter": "\E044",
  "MenuRight": "\E048",
  "MoreHoriz": "\E04C",
  "MoreHorizCircle": "\E04D",
  "MoreHorizSquare": "\E04E",
  "MoreVert": "\E050",
  "MoreVertCircle": "\E051",
  "MoreVertSquare": "\E052",
  "DragHoriz": "\E054",
  "DragVert": "\E058",
  "Apps": "\E05C",
  "Play": "\E060",
  "PlayCircle": "\E061",
  "PlaySquare": "\E062",
  "Stop": "\E064",
  "StopCircle": "\E065",
  "StopSquare": "\E066",
  "Pause": "\E068",
  "PauseCircle": "\E069",
  "PauseSquare": "\E06A",
  "Recode": "\E06C",
  "RecodeCircle": "\E06D",
  "RecodeSquare": "\E06F",
  "SkipNext": "\E070",
  "SkipPrevious": "\E074",
  "FastForward": "\E078",
  "FastRewind": "\E07C",
  "Camera": "\E090",
  "Image": "\E094",
  "Videocam": "\E098",
  "Favorite": "\E09C",
  "Star": "\E0A0",
  "StarHalf": "\E0A4",
  "Sun": "\E0A8",
  "Moon": "\E0AC",
  "Setting": "\E0B0",
  "Edit": "\E0B4",
  "Share": "\E0B8",
  "ShareArrow": "\E0BC",
  "ContentCopy": "\E0C0",
  "Send": "\E0C4",
  "Mail": "\E0C8",
  "MailOpen": "\E0CC",
  "Inbox": "\E0D0",
  "Schedule": "\E0D4",
  "Update": "\E0D8",
  "Link": "\E0DC",
  "Reply": "\E0E0",
  "Forward": "\E0E4",
  "CloseFullscreen": "\E0E8",
  "OpenInFull": "\E0EC",
  "OpenInNew": "\E0F0",
  "Store": "\E0F4",
  "Language": "\E0F8",
  "Call": "\E0FC",
  "ShoppingCart": "\E100",
  "ShoppingBag": "\E104",
  "LocalShipping": "\E108",
  "Home": "\E10C",
  "Home2": "\E110",
  "Wifi": "\E114",
  "RssFeed": "\E118",
  "Bluetooth": "\E11C",
  "Map": "\E120",
  "FaceId": "\E124",
  "Fingerprint": "\E128",
  "Lock": "\E12C",
  "LockOpen": "\E130",
  "Navigation": "\E134",
  "NearMe": "\E138",
  "NearMeOff": "\E13B",
  "Explore": "\E13C",
  "ExploreOff": "\E13F",
  "MyLocation": "\E140",
  "MyLocationOff": "\E143",
  "Visibility": "\E144",
  "VisibilityOff": "\E147",
  "Filter": "\E148",
  "Category": "\E14C",
  "Refresh": "\E150",
  "Sync": "\E154",
  "Undo": "\E158",
  "Redo": "\E15C",
  "List": "\E160",
  "Card": "\E164",
  "Phone": "\E168",
  "LightBulb": "\E16C",
  "Bolt": "\E170",
  "Cloud": "\E174",
  "Snow": "\E178",
  "Rain": "\E17C",
  "Air": "\E180",
  "ArrowEndUp": "\E800",
  "ArrowEndDown": "\E801",
  "ArrowEndLeft": "\E802",
  "ArrowEndRight": "\E803",
  "ArrowStartUp": "\E808",
  "ArrowStartDown": "\E809",
  "ArrowStartLeft": "\E80A",
  "ArrowStartRight": "\E80B",
  "ArrowAlignUp": "\E810",
  "ArrowAlignDown": "\E811",
  "ArrowAlignLeft": "\E812",
  "ArrowAlignRight": "\E813",
  "ArrowAlignCenterVert": "\E818",
  "ArrowAlignCenterHoriz": "\E819",
  "SwapVert": "\E820",
  "SwapHoriz": "\E821",
  "UnfoldMore": "\E828",
  "UnfoldLess": "\E829",
  "ArrowInUp": "\E830",
  "ArrowInDown": "\E831",
  "ArrowInLeft": "\E832",
  "ArrowInRight": "\E833",
  "ArrowOutUp": "\E838",
  "ArrowOutDown": "\E839",
  "ArrowOutLeft": "\E83A",
  "ArrowOutRight": "\E83B",
  "ArrowUp": "\E880",
  "ArrowDown": "\E881",
  "ArrowLeft": "\E882",
  "ArrowRight": "\E883",
  "ArrowUpLeft": "\E884",
  "ArrowUpRight": "\E885",
  "ArrowDownLeft": "\E886",
  "ArrowDownRight": "\E887",
  "ArrowUpCircle": "\E888",
  "ArrowDownCircle": "\E889",
  "ArrowLeftCircle": "\E88A",
  "ArrowRightCircle": "\E88B",
  "ArrowUpLeftCircle": "\E88C",
  "ArrowUpRightCircle": "\E88D",
  "ArrowDownLeftCircle": "\E88E",
  "ArrowDownRightCircle": "\E88F",
  "ArrowUpSquare": "\E890",
  "ArrowDownSquare": "\E891",
  "ArrowLeftSquare": "\E892",
  "ArrowRightSquare": "\E893",
  "ArrowUpLeftSquare": "\E894",
  "ArrowUpRightSquare": "\E895",
  "ArrowDownLeftSquare": "\E896",
  "ArrowDownRightSquare": "\E897",
  "ArrowThickUp": "\E8A0",
  "ArrowThickDown": "\E8A1",
  "ArrowThickLeft": "\E8A2",
  "ArrowThickRight": "\E8A3",
  "ArrowThickUpLeft": "\E8A4",
  "ArrowThickUpRight": "\E8A5",
  "ArrowThickDownLeft": "\E8A6",
  "ArrowThickDownRight": "\E8A7",
  "ArrowKeyUp": "\E8C0",
  "ArrowKeyDown": "\E8C1",
  "ArrowKeyLeft": "\E8C2",
  "ArrowKeyRight": "\E8C3",
  "ArrowKeyUpCircle": "\E8C8",
  "ArrowKeyDownCircle": "\E8C9",
  "ArrowKeyLeftCircle": "\E8CA",
  "ArrowKeyRightCircle": "\E8CB",
  "ArrowKeyUpSquare": "\E8D0",
  "ArrowKeyDownSquare": "\E8D1",
  "ArrowKeyLeftSquare": "\E8D2",
  "ArrowKeyRightSquare": "\E8D3",
  "ArrowKeyDoubleUp": "\E8E0",
  "ArrowKeyDoubleDown": "\E8E1",
  "ArrowKeyDoubleLeft": "\E8E2",
  "ArrowKeyDoubleRight": "\E8E3",
  "ArrowDropUp": "\E900",
  "ArrowDropDown": "\E901",
  "ArrowDropLeft": "\E902",
  "ArrowDropRight": "\E903",
  "ArrowDropUpCircle": "\E908",
  "ArrowDropDownCircle": "\E909",
  "ArrowDropLeftCircle": "\E90A",
  "ArrowDropRightCircle": "\E90B",
  "ArrowDropUpSquare": "\E910",
  "ArrowDropDownSquare": "\E911",
  "ArrowDropLeftSquare": "\E912",
  "ArrowDropRightSquare": "\E913",
  "FormatAlignJustify": "\EA00",
  "FormatAlignLeft": "\EA01",
  "FormatAlignCenter": "\EA02",
  "FormatAlignRight": "\EA03",
  "FormatAlignTopLeft": "\EA04",
  "FormatAlignTopCenter": "\EA05",
  "FormatAlignTopRight": "\EA06",
  "FormatAlignBottomLeft": "\EA07",
  "FormatAlignBottomCenter": "\EA08",
  "FormatAlignBottomRight": "\EA09",
  "FormatTitle": "\EA0A",
  "FormatBold": "\EA0B",
  "FormatItalic": "\EA0C",
  "FormatUnderlined": "\EA0D",
  "FormatSize": "\EA0E",
  "FormatStrikethrough": "\EA0F",
  "KeyCommand": "\EA40",
  "KeyBackspace": "\EA41",
  "KeyOption": "\EA42",
  "KeyTab": "\EA43",
  "KeyControl": "\EA44",
  "KeyReturn": "\EA45",
  "KeySpaceBar": "\EA46",
  "ViewGrid": "\EA80",
  "ViewList": "\EA81",
  "ViewTable": "\EA82",
  "FaceAdd": "\EB00",
  "FaceHappy": "\EB01",
  "FaceSad": "\EB02",
  "FaceNeutral": "\EB03",
  "FaceSmiley": "\EB04",
  "FaceBad": "\EB05",
  "FaceGrinning": "\EB06",
  "FaceAngry": "\EB07",
  "Face2Add": "\EB40",
  "Face2Happy": "\EB41",
  "Face2Sad": "\EB42",
  "Face2Neutral": "\EB43",
  "Face2Smiley": "\EB44",
  "Face2Bad": "\EB45",
  "Face2Grinning": "\EB46",
  "Face2Angry": "\EB47",
  "HandThumbUp": "\EB80",
  "HandThumbDown": "\EB81",
  "CurrencySterling": "\EC00",
  "CurrencySterlingCircle": "\EC01",
  "CurrencySterlingSquare": "\EC02",
  "CurrencyDollar": "\EC04",
  "CurrencyDollarCircle": "\EC05",
  "CurrencyDollarSquare": "\EC06",
  "CurrencyYen": "\EC08",
  "CurrencyYenCircle": "\EC09",
  "CurrencyYenSquare": "\EC0A",
  "CurrencyWon": "\EC0C",
  "CurrencyWonCircle": "\EC0D",
  "CurrencyWonSquare": "\EC0E",
  "CurrencyEuro": "\EC10",
  "CurrencyEuroCircle": "\EC11",
  "CurrencyEuroSquare": "\EC12",
  "CurrencyBitcoin": "\EC14",
  "CurrencyBitcoinCircle": "\EC15",
  "CurrencyBitcoinSquare": "\EC16",
  "CurrencyFranc": "\EC18",
  "CurrencyFrancCircle": "\EC19",
  "CurrencyFrancSquare": "\EC1A",
  "CurrencyRuble": "\EC1C",
  "CurrencyRubleCircle": "\EC1D",
  "CurrencyRubleSquare": "\EC1E",
  "CurrencyLira": "\EC20",
  "CurrencyLiraCircle": "\EC21",
  "CurrencyLiraSquare": "\EC22",
  "CurrencyRupee": "\EC24",
  "CurrencyRupeeCircle": "\EC25",
  "CurrencyRupeeSquare": "\EC26",
  "LetterAUpper": "\ED00",
  "LetterAUpperCircle": "\ED01",
  "LetterAUpperSquare": "\ED02",
  "LetterBUpper": "\ED04",
  "LetterBUpperCircle": "\ED05",
  "LetterBUpperSquare": "\ED06",
  "LetterCUpper": "\ED08",
  "LetterCUpperCircle": "\ED09",
  "LetterCUpperSquare": "\ED0A",
  "LetterDUpper": "\ED0C",
  "LetterDUpperCircle": "\ED0D",
  "LetterDUpperSquare": "\ED0E",
  "LetterEUpper": "\ED10",
  "LetterEUpperCircle": "\ED11",
  "LetterEUpperSquare": "\ED12",
  "LetterFUpper": "\ED14",
  "LetterFUpperCircle": "\ED15",
  "LetterFUpperSquare": "\ED16",
  "LetterGUpper": "\ED18",
  "LetterGUpperCircle": "\ED19",
  "LetterGUpperSquare": "\ED1A",
  "LetterHUpper": "\ED1C",
  "LetterHUpperCircle": "\ED1D",
  "LetterHUpperSquare": "\ED1E",
  "LetterIUpper": "\ED20",
  "LetterIUpperCircle": "\ED21",
  "LetterIUpperSquare": "\ED22",
  "LetterJUpper": "\ED24",
  "LetterJUpperCircle": "\ED25",
  "LetterJUpperSquare": "\ED26",
  "LetterKUpper": "\ED28",
  "LetterKUpperCircle": "\ED29",
  "LetterKUpperSquare": "\ED2A",
  "LetterLUpper": "\ED2C",
  "LetterLUpperCircle": "\ED2D",
  "LetterLUpperSquare": "\ED2E",
  "LetterMUpper": "\ED30",
  "LetterMUpperCircle": "\ED31",
  "LetterMUpperSquare": "\ED32",
  "LetterNUpper": "\ED34",
  "LetterNUpperCircle": "\ED35",
  "LetterNUpperSquare": "\ED36",
  "LetterOUpper": "\ED38",
  "LetterOUpperCircle": "\ED39",
  "LetterOUpperSquare": "\ED3A",
  "LetterPUpper": "\ED3C",
  "LetterPUpperCircle": "\ED3D",
  "LetterPUpperSquare": "\ED3E",
  "LetterQUpper": "\ED40",
  "LetterQUpperCircle": "\ED41",
  "LetterQUpperSquare": "\ED42",
  "LetterRUpper": "\ED44",
  "LetterRUpperCircle": "\ED45",
  "LetterRUpperSquare": "\ED46",
  "LetterSUpper": "\ED48",
  "LetterSUpperCircle": "\ED49",
  "LetterSUpperSquare": "\ED4A",
  "LetterTUpper": "\ED4C",
  "LetterTUpperCircle": "\ED4D",
  "LetterTUpperSquare": "\ED4E",
  "LetterUUpper": "\ED50",
  "LetterUUpperCircle": "\ED51",
  "LetterUUpperSquare": "\ED52",
  "LetterVUpper": "\ED54",
  "LetterVUpperCircle": "\ED55",
  "LetterVUpperSquare": "\ED56",
  "LetterWUpper": "\ED58",
  "LetterWUpperCircle": "\ED59",
  "LetterWUpperSquare": "\ED5A",
  "LetterXUpper": "\ED5C",
  "LetterXUpperCircle": "\ED5D",
  "LetterXUpperSquare": "\ED5E",
  "LetterYUpper": "\ED60",
  "LetterYUpperCircle": "\ED61",
  "LetterYUpperSquare": "\ED62",
  "LetterZUpper": "\ED64",
  "LetterZUpperCircle": "\ED65",
  "LetterZUpperSquare": "\ED66",
  "LetterALower": "\ED68",
  "LetterALowerCircle": "\ED69",
  "LetterALowerSquare": "\ED6A",
  "LetterBLower": "\ED6C",
  "LetterBLowerCircle": "\ED6D",
  "LetterBLowerSquare": "\ED6E",
  "LetterCLower": "\ED70",
  "LetterCLowerCircle": "\ED71",
  "LetterCLowerSquare": "\ED72",
  "LetterDLower": "\ED74",
  "LetterDLowerCircle": "\ED75",
  "LetterDLowerSquare": "\ED76",
  "LetterELower": "\ED78",
  "LetterELowerCircle": "\ED79",
  "LetterELowerSquare": "\ED7A",
  "LetterFLower": "\ED7C",
  "LetterFLowerCircle": "\ED7D",
  "LetterFLowerSquare": "\ED7E",
  "LetterGLower": "\ED80",
  "LetterGLowerCircle": "\ED81",
  "LetterGLowerSquare": "\ED82",
  "LetterHLower": "\ED84",
  "LetterHLowerCircle": "\ED85",
  "LetterHLowerSquare": "\ED86",
  "LetterILower": "\ED88",
  "LetterILowerCircle": "\ED89",
  "LetterILowerSquare": "\ED8A",
  "LetterJLower": "\ED8C",
  "LetterJLowerCircle": "\ED8D",
  "LetterJLowerSquare": "\ED8E",
  "LetterKLower": "\ED90",
  "LetterKLowerCircle": "\ED91",
  "LetterKLowerSquare": "\ED92",
  "LetterLLower": "\ED94",
  "LetterLLowerCircle": "\ED95",
  "LetterLLowerSquare": "\ED96",
  "LetterMLower": "\ED98",
  "LetterMLowerCircle": "\ED99",
  "LetterMLowerSquare": "\ED9A",
  "LetterNLower": "\ED9C",
  "LetterNLowerCircle": "\ED9D",
  "LetterNLowerSquare": "\ED9E",
  "LetterOLower": "\EDA0",
  "LetterOLowerCircle": "\EDA1",
  "LetterOLowerSquare": "\EDA2",
  "LetterPLower": "\EDA4",
  "LetterPLowerCircle": "\EDA5",
  "LetterPLowerSquare": "\EDA6",
  "LetterQLower": "\EDA8",
  "LetterQLowerCircle": "\EDA9",
  "LetterQLowerSquare": "\EDAA",
  "LetterRLower": "\EDAC",
  "LetterRLowerCircle": "\EDAD",
  "LetterRLowerSquare": "\EDAE",
  "LetterSLower": "\EDB0",
  "LetterSLowerCircle": "\EDB1",
  "LetterSLowerSquare": "\EDB2",
  "LetterTLower": "\EDB4",
  "LetterTLowerCircle": "\EDB5",
  "LetterTLowerSquare": "\EDB6",
  "LetterULower": "\EDB8",
  "LetterULowerCircle": "\EDB9",
  "LetterULowerSquare": "\EDBA",
  "LetterVLower": "\EDBC",
  "LetterVLowerCircle": "\EDBD",
  "LetterVLowerSquare": "\EDBE",
  "LetterWLower": "\EDC0",
  "LetterWLowerCircle": "\EDC1",
  "LetterWLowerSquare": "\EDC2",
  "LetterXLower": "\EDC4",
  "LetterXLowerCircle": "\EDC5",
  "LetterXLowerSquare": "\EDC6",
  "LetterYLower": "\EDC8",
  "LetterYLowerCircle": "\EDC9",
  "LetterYLowerSquare": "\EDCA",
  "LetterZLower": "\EDCC",
  "LetterZLowerCircle": "\EDCD",
  "LetterZLowerSquare": "\EDCE",
  "NumberOne": "\EDD0",
  "NumberOneCircle": "\EDD1",
  "NumberOneSquare": "\EDD2",
  "NumberTwo": "\EDD4",
  "NumberTwoCircle": "\EDD5",
  "NumberTwoSquare": "\EDD6",
  "NumberThree": "\EDD8",
  "NumberThreeCircle": "\EDD9",
  "NumberThreeSquare": "\EDDA",
  "NumberFour": "\EDDC",
  "NumberFourCircle": "\EDDD",
  "NumberFourSquare": "\EDDE",
  "NumberFive": "\EDE0",
  "NumberFiveCircle": "\EDE1",
  "NumberFiveSquare": "\EDE2",
  "NumberSix": "\EDE4",
  "NumberSixCircle": "\EDE5",
  "NumberSixSquare": "\EDE6",
  "NumberSeven": "\EDE8",
  "NumberSevenCircle": "\EDE9",
  "NumberSevenSquare": "\EDEA",
  "NumberEight": "\EDEC",
  "NumberEightCircle": "\EDED",
  "NumberEightSquare": "\EDEE",
  "NumberNine": "\EDF0",
  "NumberNineCircle": "\EDF1",
  "NumberNineSquare": "\EDF2",
  "NumberZero": "\EDF4",
  "NumberZeroCircle": "\EDF5",
  "NumberZeroSquare": "\EDF6",
  "Search": "\EE00",
  "SearchClose": "\EE02",
  "SearchCheck": "\EE03",
  "SearchAdd": "\EE04",
  "SearchRemove": "\EE05",
  "SearchNote": "\EE06",
  "SearchMore": "\EE07",
  "Date": "\EE20",
  "DateClose": "\EE22",
  "DateCheck": "\EE23",
  "DateAdd": "\EE24",
  "DateRemove": "\EE25",
  "DateNote": "\EE26",
  "DateMore": "\EE27",
  "DateToday": "\EE28",
  "DateRange": "\EE29",
  "DatePlay": "\EE2A",
  "DateStop": "\EE2B",
  "DatePause": "\EE2C",
  "DateInfo": "\EE2D",
  "DateWarning": "\EE2E",
  "DateQuestion": "\EE2F",
  "Delete": "\EE40",
  "DeleteClose": "\EE42",
  "DeleteCheck": "\EE43",
  "DeleteAdd": "\EE44",
  "DeleteRemove": "\EE45",
  "DeleteInfo": "\EE4D",
  "DeleteWarning": "\EE4E",
  "DeleteQuestion": "\EE4F",
  "Timer": "\EE60",
  "TimerOff": "\EE61",
  "TimerClose": "\EE62",
  "TimerCheck": "\EE63",
  "TimerAdd": "\EE64",
  "TimerRemove": "\EE65",
  "TimerMore": "\EE67",
  "TimerPlay": "\EE6A",
  "TimerStop": "\EE6B",
  "TimerPause": "\EE6C",
  "TimerInfo": "\EE6D",
  "TimerWarning": "\EE6E",
  "TimerQuestion": "\EE6F",
  "Chat2": "\EE80",
  "Chat2Close": "\EE82",
  "Chat2Check": "\EE83",
  "Chat2Add": "\EE84",
  "Chat2Remove": "\EE85",
  "Chat2Note": "\EE86",
  "Chat2More": "\EE87",
  "Chat2Play": "\EE8A",
  "Chat2Stop": "\EE8B",
  "Chat2Pause": "\EE8C",
  "Chat2Info": "\EE8D",
  "Chat2Warning": "\EE8E",
  "Chat2Question": "\EE8F",
  "Shield": "\EEA0",
  "ShieldOff": "\EEA1",
  "ShieldClose": "\EEA2",
  "ShieldCheck": "\EEA3",
  "ShieldAdd": "\EEA4",
  "ShieldRemove": "\EEA5",
  "ShieldNote": "\EEA6",
  "ShieldMore": "\EEA7",
  "ShieldPlay": "\EEAA",
  "ShieldStop": "\EEAB",
  "ShieldPause": "\EEAC",
  "ShieldInfo": "\EEAD",
  "ShieldWarning": "\EEAE",
  "ShieldQuestion": "\EEAF",
  "Memo": "\EEC0",
  "MemoClose": "\EEC2",
  "MemoCheck": "\EEC3",
  "MemoAdd": "\EEC4",
  "MemoRemove": "\EEC5",
  "MemoNote": "\EEC6",
  "MemoMore": "\EEC7",
  "MemoPlay": "\EECA",
  "MemoStop": "\EECB",
  "MemoPause": "\EECC",
  "MemoInfo": "\EECD",
  "MemoWarning": "\EECE",
  "MemoQuestion": "\EECF",
  "Folder": "\EEE0",
  "FolderClose": "\EEE2",
  "FolderCheck": "\EEE3",
  "FolderAdd": "\EEE4",
  "FolderRemove": "\EEE5",
  "FolderNote": "\EEE6",
  "FolderMore": "\EEE7",
  "FolderPlay": "\EEEA",
  "FolderStop": "\EEEB",
  "FolderPause": "\EEEC",
  "FolderInfo": "\EEED",
  "FolderWarning": "\EEEE",
  "FolderQuestion": "\EEEF",
  "Coupon": "\EF00",
  "CouponClose": "\EF02",
  "CouponCheck": "\EF03",
  "CouponAdd": "\EF04",
  "CouponRemove": "\EF05",
  "CouponNote": "\EF06",
  "CouponMore": "\EF07",
  "CouponPlay": "\EF0A",
  "CouponStop": "\EF0B",
  "CouponPause": "\EF0C",
  "CouponInfo": "\EF0D",
  "CouponWarning": "\EF0E",
  "CouponQuestion": "\EF0F",
  "Person": "\EF20",
  "PersonClose": "\EF22",
  "PersonCheck": "\EF23",
  "PersonAdd": "\EF24",
  "PersonRemove": "\EF25",
  "PersonCircle": "\EF28",
  "PersonSquare": "\EF29",
  "Notifications": "\EF40",
  "NotificationsOff": "\EF41",
  "NotificationsClose": "\EF42",
  "NotificationsCheck": "\EF43",
  "NotificationsAdd": "\EF44",
  "NotificationsRemove": "\EF45",
  "NotificationsPlay": "\EF4A",
  "NotificationsStop": "\EF4B",
  "NotificationsPause": "\EF4C",
  "NotificationsInfo": "\EF4D",
  "NotificationsWarning": "\EF4E",
  "NotificationsQuestion": "\EF4F",
  "Alarm": "\EF60",
  "AlarmOff": "\EF61",
  "AlarmClose": "\EF62",
  "AlarmCheck": "\EF63",
  "AlarmAdd": "\EF64",
  "AlarmRemove": "\EF65",
  "AlarmMore": "\EF67",
  "AlarmPlay": "\EF6A",
  "AlarmStop": "\EF6B",
  "AlarmPause": "\EF6C",
  "AlarmInfo": "\EF6D",
  "AlarmWarning": "\EF6E",
  "AlarmQuestion": "\EF6F",
  "Chat": "\EF80",
  "ChatClose": "\EF82",
  "ChatCheck": "\EF83",
  "ChatAdd": "\EF84",
  "ChatRemove": "\EF85",
  "ChatNote": "\EF86",
  "ChatMore": "\EF87",
  "ChatPlay": "\EF88",
  "ChatStop": "\EF8B",
  "ChatPause": "\EF8C",
  "ChatInfo": "\EF8D",
  "ChatWarning": "\EF8E",
  "ChatQuestion": "\EF8F",
  "Location": "\EFA0",
  "LocationOff": "\EFA1",
  "LocationClose": "\EFA2",
  "LocationCheck": "\EFA3",
  "LocationAdd": "\EFA4",
  "LocationRemove": "\EFA5",
  "LocationMore": "\EFA7",
  "LocationPlay": "\EFAA",
  "LocationStop": "\EFAB",
  "LocationPause": "\EFAC",
  "LocationInfo": "\EFAD",
  "LocationWarning": "\EFAE",
  "LocationQuestion": "\EFAF",
  "Inventory": "\EFC0",
  "InventoryClose": "\EFC2",
  "InventoryCheck": "\EFC3",
  "InventoryAdd": "\EFC4",
  "InventoryRemove": "\EFC5",
  "InventoryNote": "\EFC6",
  "InventoryMore": "\EFC7",
  "InventoryPlay": "\EFCA",
  "InventoryStop": "\EFCB",
  "InventoryPause": "\EFCC",
  "InventoryInfo": "\EFCD",
  "InventoryWarning": "\EFCE",
  "InventoryQuestion": "\EFCF",
  "File": "\EFE0",
  "FileClose": "\EFE2",
  "FileCheck": "\EFE3",
  "FileAdd": "\EFE4",
  "FileRemove": "\EFE5",
  "FileNote": "\EFE6",
  "FileMore": "\EFE7",
  "FilePlay": "\EFEA",
  "FileStop": "\EFEB",
  "FilePause": "\EFEC",
  "FileInfo": "\EFED",
  "FileWarning": "\EFEE",
  "FileQuestion": "\EFEF",
  "Stamp": "\F000",
  "StampClose": "\F002",
  "StampCheck": "\F003",
  "StampAdd": "\F004",
  "StampRemove": "\F005",
  "StampNote": "\F006",
  "StampMore": "\F007",
  "StampPlay": "\F00A",
  "StampStop": "\F00B",
  "StampPause": "\F00C",
  "StampInfo": "\F00D",
  "StampWarning": "\F00E",
  "StampQuestion": "\F00F",
  "Bookmark": "\F020",
  "BookmarkClose": "\F022",
  "BookmarkCheck": "\F023",
  "BookmarkAdd": "\F024",
  "BookmarkRemove": "\F025",
  "BookmarkNote": "\F026",
  "BookmarkMore": "\F027",
  "BookmarkPlay": "\F02A",
  "BookmarkStop": "\F02B",
  "BookmarkPause": "\F02C",
  "BookmarkInfo": "\F02D",
  "BookmarkWarning": "\F02E",
  "BookmarkQuestion": "\F02F",
  "BrandPlaystore": "\F8E0",
  "BrandAppstore": "\F8E1",
  "BrandSlack": "\F8E2",
  "BrandSnapchat": "\F8E3",
  "BrandMessenger": "\F8E4",
  "BrandAmazon": "\F8E5",
  "BrandBehance": "\F8E6",
  "BrandAndroid": "\F8E7",
  "BrandMicrosoft": "\F8E8",
  "BrandDiscord": "\F8E9",
  "BrandSpotify": "\F8EA",
  "BrandReddit": "\F8EB",
  "BrandMeta": "\F8EC",
  "BrandFigma": "\F8ED",
  "BrandTwitch": "\F8EE",
  "BrandDribbble": "\F8EF",
  "BrandTiktok": "\F8F0",
  "BrandTumblr": "\F8F1",
  "BrandSkype": "\F8F2",
  "BrandMedium": "\F8F3",
  "BrandGithub": "\F8F4",
  "BrandYoutube": "\F8F5",
  "BrandPinterest": "\F8F6",
  "BrandLinkedin": "\F8F7",
  "BrandNotion": "\F8F8",
  "BrandInstagram": "\F8F9",
  "BrandTwitter": "\F8FA",
  "BrandGoogle": "\F8FB",
  "BrandFacebook": "\F8FC",
  "BrandNaver": "\F8FD",
  "BrandKakao": "\F8FE",
  "BrandApple": "\F8FF"
);

@each $name, $code in $icons {
  i.i#{$name}::before {
    content: $code;
  }
}
